.cover {
  height: 80vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(img/activitygirl.jpg)  center center no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  display:-webkit-flex;
  justify-content: center;
  align-items: center;

}

.cover h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 72px;
	display: flex;
	justify-content: center;
	webkit-flex-direction: column; /* Safari */
	flex-direction: column;
  	align-items: center;
	line-height: 1.8;
	font-weight: 300;
}

.cover h2 {
	color: #fff;
	display: flex;
	justify-content: center;
	webkit-flex-direction: column; /* Safari */
	flex-direction: column;
	align-items: center;
	line-height: 1.8;
	font-weight: 300;
	font-size: 18px;
}

.features {
	padding: 20px 0;
	display: block;
    background-size: cover
}

.features img {
	margin: 0 auto;
}

.blue-bg {
	background-color: #E0F6FB;
}

.testimonials {
	padding: 40px 0;
	margin: 20px 0;
	height: 60vh;
}

.testimonails-container {

}