.cover {
  height: 80vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(img/activitygirl.jpg)  center center no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  display:-webkit-flex;
  justify-content: center;
  align-items: center;

}

.cover h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 72px;
	display: flex;
	justify-content: center;
	webkit-flex-direction: column; /* Safari */
	flex-direction: column;
  	align-items: center;
	line-height: 1.8;
	font-weight: 300;
}

.cover h2 {
	color: #fff;
	display: flex;
	justify-content: center;
	webkit-flex-direction: column; /* Safari */
	flex-direction: column;
	align-items: center;
	line-height: 1.8;
	font-weight: 300;
	font-size: 18px;
}

.features {
	padding: 20px 0;
	display: block;
    background-size: cover;
}

#get-started-cta {

}

.features img {
	display: block;
	margin: 0 auto;
}

.features h4 {
	text-align: center;
}

.blue-bg {
	background-color: #E0F6FB;
	height: 60vh
}

.testimonials {
	padding: 40px 0;
	margin: 20px 0;
	height: 50vhvh;
}

.activities {
	padding: 40px 0;
	margin: 20px 0;
	height: 40vh;
	background: url(https://d1381b08g0rms1.cloudfront.net/assets/parent-review-bg-1920x987-3b9a60c6815d47aa3439304f3681e2525184ab4e8a494171e0d9efd9fc778a41.jpg);
	background-position: center top;
	background-size: cover;
}

.white-bg {
	border-radius: 6px;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.white-bg img {
	width: 120px;
}

.white-bg h4 {
	display: block;
	margin: 0 auto;
	padding: 30px 0;
}

.white-bg p {
	display: block;
	margin: 0 auto;
	padding: 15px 0;
}

.get-started {
	background-color: 

}

.get-started h4 {
	text-align: center;

}

.footer {
	height: 30vh;

}