html, body { overflow-x: hidden; }

html, body {
    font-family: "Open Sans", sans-serif !important;
} 

.btn-blue {
  background: #212F3D;
  color: #fff;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; /* !important tags aren't necessarily always bad */
  border-radius: 0!important;
  width: 200px;
  display: flex;
  justify-content: center;
  webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.btn-blue:hover, .btn-blue:focus {
  background: #34495E;
  color: #fff !important;
}
.btn-blue:active {
  background: rgb(247, 255, 71);
  color: #fff;
}
#cta {
	color: #fff !important;
}

.cover {
  height: 80vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(../img/activitygirl.jpg)  center center no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  display:-webkit-flex;
  justify-content: center;
  align-items: center;

}

.cover h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 72px;
	display: flex;
	justify-content: center;
	webkit-flex-direction: column; /* Safari */
	flex-direction: column;
  	align-items: center;
	line-height: 1.8;
	font-weight: 300;
}

.cover h2 {
	color: #fff;
	display: flex;
	justify-content: center;
	webkit-flex-direction: column; /* Safari */
	flex-direction: column;
	align-items: center;
	line-height: 1.8;
	font-weight: 300;
	font-size: 18px;
}

.typeform-share.button {
	background-color: #000;
	color: #fff;
}

.features {
	padding: 20px 0;
	display: block;
    background-size: cover;
    line-height: 1.8;
	 font-weight: 300;
	 font-size: 18px;
}

#get-started-cta {

}

.features img {
	display: block;
	margin: 0 auto;
	width: 
}

.features h4 {
	text-align: center;
	font-size: 45px;
}

.features h6 {
	color: #bbb;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .15em;
	margin: -10px 0;
}

.features p {
	font-size: 30px
}

.blue-bg {
	background-color: #E0F6FB;
	height: 60vh
}

.testimonials {
	padding: 40px 0;
	margin: 20px 0;
	height: 50vhvh;
}

.activities {
	padding: 40px 0;

	height: 60vh;
	background: url(https://d1381b08g0rms1.cloudfront.net/assets/parent-review-bg-1920x987-3b9a60c6815d47aa3439304f3681e2525184ab4e8a494171e0d9efd9fc778a41.jpg);
	background-position: center top;
	background-size: cover;
}

.white-bg {
	border-radius: 6px;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
}

.white-bg img {
	width: 120px;
}

.white-bg h4 {
	display: block;
	margin: 0 auto;
	padding: 30px 0; 
}

.white-bg p {
	display: block;
	margin: 0 auto;
	padding: 15px 15px;
	font-size: 32px;
}

.get-started {
	background-color: 

}

.get-started h4 {
	text-align: center;
	font-size: 40px;
	padding: 30px 0;
}

.footer {
	height: 30vh;

}