
html, body {
    font-family: "Open Sans", sans-serif !important;
} 

html, body { overflow-x: hidden; }

html {
  font-size: 62.5%;
}

/* NAv Bar*/

.navbar, .dropdown-menu {
	background:rgba(255,255,255,0.25);
    border-bottom: #C4E17F 3px solid;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
 color: #444;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.custom-nav {
	border-bottom: #f2f2f2 3px solid;
	background-color: #fff;
}



.red-bg{
	background-color: rgba(231,88,84,1);
}

.color-block {
	background-color: rgba(231,88,84,1);	
	color: white;
	height: 80vh;
	display: flex;
	justify-content: center;
	webkit-flex-direction: column; /* Safari */
	flex-direction: column;
	line-height: 1.8;
	font-weight: 300;
}

.color-block h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 42px;
	font-family: 	
}

.color-block p {
	color:  rgb(31, 31, 37);
	font-size: 2rem;
}

.btn-blue {
  background: #212F3D;
  color: #fff;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; /* !important tags aren't necessarily always bad */
  border-radius: 0!important;
  width: 200px;
}
.btn-blue:hover, .btn-blue:focus {
  background: #34495E;
  color: #fff !important;
}
.btn-blue:active {
  background: rgb(247, 255, 71);
  color: #fff;
}

.pic-block {
  height: 80vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(http://content.finda.photo/lifeofpix/harvard.jpg)  center center no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  display:-webkit-flex;
  justify-content: center;
  align-items: center;
}

.mockup {
	height: 80vh;	
}

.mockup img {
	margin: 0 auto;
    display: block;
    background-size: cover
}

.mockup-text {
	 height: 80vh;
	 display: flex;
	 justify-content: center;
	 webkit-flex-direction: column; /* Safari */
	 flex-direction: column;
	 line-height: 1.8;
	 font-weight: 300;
	 font-size: 18px;

}

.mockup-text h3 {
	font-weight: 500;
}

.mockup-text h6{
	color: #bbb;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .15em;
	margin: -10px 0;
}
 
.white {
	margin: 30px 0;
    padding: 30px 0;
}

.bbu {
	background-color: #262F36;
	margin-top: 88px;
	color: #fff;
}

.bullit {
	text-align: center;
	height: 60vh;
	
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.bbu  h4 {
	font-size: 24px;
	padding: 15px 0;
	margin: 20px 0;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.bbu p {
	font-size: 17px;
	padding: 10px 0;
	line-height: 1.8;
	font-weight: 300;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
}




.signup {
	background-color: #1F1F24;
}

.form {
	color: #fff;
	height: 45vh;
}

#form-pic {
text-align: center;
  height: 45vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(https://s3.amazonaws.com/media.launchrockstaging.com/assets/sites/site-8s9ycfycg69yfv4bqc4ga6tqp/gzpjtq-bottom-image.jpg)  center center no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  display:-webkit-flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 20%;
}

.new-footer {
	height: 40vh;
	background-color: #262F36;
	color: #fff;
}